# Node modules
node_modules/

# Output build folder
bin/

# NPM Package builds
*.tgz

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external volumes
.Spotlight-V100
.Trashes

# IDEs/editors
.vscode/
.idea/
*.swp

# Environment files
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# Claude config
CLAUDE.md
